target/
slint-screenshots/
ui/*-scroll-state-*.slint
*.log
kr_room.db
kr_room.db-*

.claude/settings.local.json
.DS_Store
lua_module_wifi.c
qrcode.c
video_decoder.c
lua_module_ipc.c
service_webrtc.c
1.png
test_api.c
demo_full.c
log/
tcpdump
a4a04.md
1001.TTF
__pycache__/
*.kv
1.png